.container {
    display: flex;
    flex-direction: row;
    height: 400px;
    background-color: darkslategrey;

}

.box {
    width: 100px;
    height: 100px;
    background-color: orange;
    margin: 5px;
}

.self {
    align-self: flex-end;
}